.canvas-container {
    border: solid 1px #ccc;
    margin: 10% auto;
    position: relative;
    width: 500px;
}

.file {
    border: none;
    border-bottom: solid 1px #ccc;
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    outline: none;
    width: 498px;
}

.export {
    background-color: #ccc;
    border: none;
    color: #555;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 17px;
    line-height: 17px;
    outline: none;
    padding: 0 10px;
    position: absolute;
    text-decoration: none;
    right: 0;
}